<section class="fbgroup-box widget">
  <div class="fbgroup-box-profilepic">
    <img src="{{asset "images/logo-black.png"}}" alt="Twitter profile picture" />
  </div>
  <img class="fbgroup-box-coverpic" src="{{asset "images/fbgroupbg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
  <div class="fbgroup-box-content">
    <h4>Cloud Bogor</h4>
    <p>Blog ini menggunakan Cloud Bogor, Hebat dan Stabil. Lebih Efisien untuk Ngeblog</p>
    <a class="button-add large wide" target="blank" href="https://cloudbogor.com"><i class="fa fa-lg fa-play-circle" aria-hidden="true"></i> Deploy</a>
  </div>
</section>
