{{! TODO: Extract twitter handle slug as Ghost variable }}
{{! TODO: Extract twitter description as Ghost variable }}

<section class="twitter-box twitter-box-main widget">
    <div class="twitter-box-profilepic"><img src="{{asset "images/logo.png"}}" alt="Twitter profile picture" /></div>
    <img class="twitter-box-coverpic" src="{{asset "images/twitterbg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
    <div class="twitter-box-content">
        <h4>Nakamura Agatha</h4>
        <p>Ikuti saya untuk dapat update terbaru tentang tips internet marketing</p>
        <a href="https://twitter.com/nakamuraagatha" class="button-add large wide twitterbutton" data-show-count="true"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i> Follow</a>
    </div>
</section>
