$blog-description-color   : rgba(#8BC34A, .7);

$subscribe-banner-color   : $blue;
$selection-color          : lighten($orange, 36%);
$tag-color                : rgba($blue, .7);

$feature-one-color        : $blue;
$feature-two-color        : $ungu;
$feature-three-color	  : $bluetea;
$twitterbutton			  : $twitter;

$feature-ungu-color		  : $ungu;
$link-hover-color         : $blue;


$header-color             : #303538;