/* ==========================================================================
   Buttons
   ========================================================================== */

.button-green,
.button-add,
.button-add[type="submit"] {
  transition: all 0.5s ease;
  background: white;
  border: 2px solid $feature-ungu-color;
  color: white;
  background: $feature-ungu-color;
}

.button-green:not(.button-loading):hover,
.button-green:not(.button-loading):focus,
.button-add:not(.button-loading):hover,
.ghost-pro-ad:hover .button-add:not(.button-loading),
.button-add:not(.button-loading):focus,
.button-add[type="submit"]:not(.button-loading):hover,
.ghost-pro-ad:hover [type="submit"].button-add:not(.button-loading),
.button-add[type="submit"]:not(.button-loading):focus {
  background: $feature-ungu-color;
  color: white;
}

.button-ungu,
.button-master,
.button-master[type="submit"] {
  transition: all 0.5s ease;
  background: white;
  border: 2px solid $feature-ungu-color;
  color: $feature-ungu-color;
}

.button-ungu:not(.button-loading):hover,
.button-ungu:not(.button-loading):focus,
.button-master:not(.button-loading):hover,
.ghost-pro-ad:hover .button-master:not(.button-loading),
.button-master:not(.button-loading):focus,
.button-master[type="submit"]:not(.button-loading):hover,
.ghost-pro-ad:hover [type="submit"].button-master:not(.button-loading),
.button-master[type="submit"]:not(.button-loading):focus {
  background: $feature-ungu-color;
  color: white;
}

.button-save,
.button-blue,
button[type="submit"],
input[type="submit"] {
  background: $feature-two-color;
  box-shadow: none;
}

.button-save:not(.button-loading):hover,
.button-save:not(.button-loading):focus,
.button-blue:not(.button-loading):hover,
.button-blue:not(.button-loading):focus,
button[type="submit"]:not(.button-loading):hover,
button[type="submit"]:not(.button-loading):focus,
input[type="submit"]:not(.button-loading):hover,
input[type="submit"]:not(.button-loading):focus {
  background: darken($feature-two-color, 10%);
}


.bluetea,
.bluetea,
.bluetea[type="submit"] {
  transition: all 0.5s ease;
  background: white;
  border: 2px solid $feature-three-color;
  color: white;
  background: $feature-three-color;
}

.bluetea:not(.button-loading):hover,
.bluetea:not(.button-loading):focus,
.bluetea:not(.button-loading):hover,
.bluetea:hover .button-add:not(.button-loading),
.bluetea:not(.button-loading):focus,
.bluetea[type="submit"]:not(.button-loading):hover,
.bluetea:hover [type="submit"].bluetea:not(.button-loading),
.bluetea[type="submit"]:not(.button-loading):focus {
  background: $feature-one-color;
  color: white;
}

.twitterbutton,
.twitterbutton,
.twitterbutton[type="submit"] {
  transition: all 0.5s ease;
  background: white;
  border: 2px solid $twitter;
  color: white;
  background: $twitter;
}

.twitterbutton:not(.button-loading):hover,
.twitterbutton:not(.button-loading):focus,
.twitterbutton:not(.button-loading):hover,
.twitterbutton:hover .button-add:not(.button-loading),
.twitterbutton:not(.button-loading):focus,
.twitterbutton[type="submit"]:not(.button-loading):hover,
.twitterbutton:hover [type="submit"].twitterbutton:not(.button-loading),
.twitterbutton[type="submit"]:not(.button-loading):focus {
  background: $twitter;
  color: white;
}